Import Libraries

In [6]:
import pandas as pd
df= pd.read_csv(r"D:\Unified Mentor Intership\Data Science projects\Customer Satisfaction\Data\customer_support_tickets.csv")

Display basic information about the dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2819 entries, 0 to 2818
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ticket ID                     2819 non-null   int64
 1   Customer Name                 2819 non-null   object
 2   Customer Email                2819 non-null   object
 3   Customer Age                  2819 non-null   int64
 4   Customer Gender               2819 non-null   object
 5   Product Purchased             2819 non-null   object
 6   Date of Purchase              2819 non-null   object
 7   Ticket Type                   2819 non-null   object
 8   Ticket Subject                2819 non-null   object
 9   Ticket Description            2819 non-null   object
 10  Ticket Status                 2819 non-null   object
 11  Resolution                    2769 non-null   object
 12  Ticket Priority               2819 non-null   object
 13  Ticket Channel                2819 non-null   object
 14  First Response Time           2769 non-null   object
 15  Time to Resolution            2769 non-null   object
 16  Customer Satisfaction Rating  2769 non-null   float64
dtypes: float64(1), int64(2), object(14)
memory usage: 374.5+ KB

In [8]:
df.head()

,Ticket ID,Customer Name,Customer Email,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Resolution,Ticket Priority,Ticket Channel,First Response Time,Time to Resolution,Customer Satisfaction Rating
0,1,Christopher Robbins,gonzalestracy@example.com,48,Other,Dell XPS,14-07-2020,Technical issue,Network problem,I'm facing a problem with my {product_purchase...,Closed,Case maybe show recently my computer follow.,Low,Social media,01-06-2023 11:14,01-06-2023 18:05,3.0
1,4,Christina Dillon,bradleyolson@example.org,27,Female,Microsoft Office,13-11-2020,Billing inquiry,Account access,I'm having an issue with the {product_purchase...,Closed,Try capital clearly never color toward story.,Low,Social media,01-06-2023 07:29,01-06-2023 01:57,3.0
2,5,Alexander Carroll,bradleymark@example.com,67,Female,Autodesk AutoCAD,04-02-2020,Billing inquiry,Data loss,I'm having an issue with the {product_purchase...,Closed,West decision evidence bit.,Low,Email,01-06-2023 00:12,01-06-2023 19:53,1.0
3,11,Joseph Moreno,mbrown@example.org,48,Male,Nintendo Switch,19-01-2021,Cancellation request,Data loss,I'm having an issue with the {product_purchase...,Closed,Measure tonight surface feel forward.,High,Phone,01-06-2023 17:46,31-05-2023 23:51,1.0
4,12,Brandon Arnold,davisjohn@example.net,51,Male,Microsoft Xbox Controller,24-10-2021,Product inquiry,Software bug,I'm having an issue with the {product_purchase...,Closed,Measure there house management pick knowledge ...,High,Chat,01-06-2023 12:05,01-06-2023 09:27,1.0

Check for missing values

In [9]:
df.isnull().sum().sort_values(ascending=False)

Customer Satisfaction Rating    50
Time to Resolution              50
First Response Time             50
Resolution                      50
Ticket Description               0
Ticket Channel                   0
Ticket Priority                  0
Ticket Status                    0
Ticket ID                        0
Customer Name                    0
Ticket Type                      0
Date of Purchase                 0
Product Purchased                0
Customer Gender                  0
Customer Age                     0
Customer Email                   0
Ticket Subject                   0
dtype: int64

Check for unique values per column

In [10]:
df.nunique().sort_values(ascending=False)

Ticket ID                       2819
Customer Email                  2799
Resolution                      2769
Customer Name                   2762
Ticket Description              2727
Time to Resolution              1283
First Response Time             1275
Date of Purchase                 718
Customer Age                      53
Product Purchased                 42
Ticket Subject                    16
Ticket Type                        5
Customer Satisfaction Rating       5
Ticket Priority                    4
Ticket Channel                     4
Customer Gender                    3
Ticket Status                      2
dtype: int64

Basic stats for numeric columns

In [11]:
df.describe()

         Ticket ID  Customer Age  Customer Satisfaction Rating
count  2819.000000   2819.000000                   2769.000000
mean   4271.925505     44.301171                      2.991333
std    2445.926750     15.238968                      1.407016
min       1.000000     18.000000                      1.000000
25%    2196.000000     31.000000                      2.000000
50%    4323.000000     45.000000                      3.000000
75%    6349.000000     57.000000                      4.000000
max    8468.000000     70.000000                      5.000000

Distribution of satisfaction rating

In [12]:
df['Customer Satisfaction Rating'].value_counts(dropna=False).sort_index()

Customer Satisfaction Rating
1.0    553
2.0    549
3.0    580
4.0    543
5.0    544
NaN     50
Name: count, dtype: int64